@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu";
    /* overflow-x: hidden; */
}

main {
    max-width: 1350px;
    margin: 0 auto;
}

/* Header Styles */

header {
    height: 783px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Navbar Styles */

nav {
    display: flex;
    max-width: 1350px;
    margin: 0 auto;
    height: 80px;
}

nav img {
    margin: 20px 0 0 0;
    width: 65px;
    height: 45px;
    float: left;
}

nav ul {
    display: flex; 
    display: inline-block;
    margin: 30px 0 0 400px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    cursor: pointer;
}

nav ul li:nth-child(2n) {
    margin-left: 50px;
}

nav ul li:nth-child(3n) {
    margin-left: 50px;
}

.log_btn {
    border: 0;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    color: rgb(66, 69, 74);
    font-size: 13px;
    margin: 20px 0 0 200px;
    letter-spacing: 1.1px;
}

.sign_btn {
    border: 0;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(66, 69, 74);
    color: #fff;
    font-size: 13px;
    margin: 20px 0 0 50px;
    letter-spacing: 1.1px;
}

.sign_btn:hover {
    opacity: 0.9;
    transition: 0.2s;
}

.log_btn:hover {
    background-color: rgb(221, 221, 221);
    transition: 0.2s;
}

.sign_btn:active {
    border: 1px solid #fff;
    transition: 0.2s;
}

.log_btn:active {
    border: 1px solid #fff;
}

header h1 {
    font-size: 80px;
    letter-spacing: 1.2px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 50px 0 0 20px;
    color: rgb(66, 69, 74);
    height: 200px;
}

header h1 span {
    font-weight: 900;
    color: rgb(66, 69, 74);
}

.header_text_wrapper {
    margin: 50px 0 0 0;
}

.header_dicider {
    height: 5px;
    margin: 100px 0 0 20px;
}

.header_info {
    margin: 50px 0 0 20px;
    color: rgb(66, 69, 74);
}

.buy_btn {
    border: 0;
    cursor: pointer;
    margin: 100px 0 0 20px;
    font-size: 16px;
    background-color: #fff;

}

.buy_btn svg {
    float: left;
    color: rgb(66, 69, 74);
}

.buy_btn span {
    margin: 0 0 0 10px;
    position: relative;
    top: 10px;
}

.hiw_btn {
    display: flex;
    margin: -50px 0 0 200px;
    width: 200px;
    color: rgb(66, 69, 74);
    text-decoration: none;
}

.hiw_btn img {
    margin: -10px 0 0 20px;
}

.header_img {
    width: 800px;
    margin: 70px 0 0 0;
    height: 750px;
}

/* Characteristics Wrapper Styles */

.characteristics {
    width: 100%;
    height: 100px;
    margin: 100px 0 0 0;
    display: flex;
    justify-content: space-around;
}

.characteristics_info {
    margin-top: 20px;
    text-align: center;
}

.characteristics_info span {
    font-size: 23px;
    font-weight: 400;
}

.characteristics_info p {
    margin-top: 5px;
}

/* First Section Styles*/

.first_section {
    width: 100%;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
}

.first_section_title {
    font-size: 40px;
    letter-spacing: 1.5px;
    margin: 0 0 0 470px;
}

.first_section_p {
    width: 500px;
    height: 20px;
    margin: -350px 0 0 430px;
}

.advantages {
    display: flex;
    width: 600px;
    flex-direction: column;
}

.advantages h1 {
    font-size: 20px;
    font-weight: 400;
    margin-top: 50px;
}

.advantages h1 img {
    float: left;
}

.advantages h1 span {
    position: relative;
    top: 10px;
    left: 10px;
}

/* Second Section Styles */

.second_section {
    width: 100%;
    height: 700px;
}

.second_section h1 {
    text-align: center;
    font-size: 45px;
    font-weight: 500;
}

.second_section p {
    text-align: center;
    margin-top: 30px;
}

.second_section img {
    width: 1300px;
}

/* Third Section Styles */

.third_section {
    width: 100%;
    height: 1400px;
    margin-top: 200px;
}

.third_section_title {
    font-size: 50px;
    text-align: center;
}

.third_Section_info {
    text-align: center;
    margin-top: 50px;
    font-size: 18px;
}

.third_section_first_advantages {
    width: 100%;
    height: 500px;
    display: flex;
    margin: 100px 0 0 35px;
}

.third_section_first_advantages h1 {
    font-size: 40px;
}

.third_section_first_advantages_info img {
    float: left;
}

.third_section_first_advantages_info {
    margin-top: 50px;
}

.third_section_first_advantages_info span {
    top: 14px;
    left: 20px;
    position: relative;
}

.third_section_first_advantages_img {
    height: 400px;
    margin: 0 0 0 100px;
}

.third_section_second_advantages {
    width: 100%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.third_section_second_advantages_simg {
    margin: 100px 0 0 50px;
    width: 220px;
    height: 200px;
}

.third_section_second_advantages_title {
    font-size: 40px;
    margin: 0 0 0 50px;
}

.third_section_second_advantages_info img {
    float: left;
}

.third_section_second_advantages_info {
    margin: 50px 0 0 50px;
}

.third_section_second_advantages_info span {
    top: 13px;
    left: 10px;
    position: relative;
}

.third_section_second_advantages_wrapper {
    margin: 50px 0 0 70px;
}

.third_section button {
    width: 300px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 20px;
    background-color: transparent;
    font-size: 16px;
    margin: 100px 0 0 550px;
    cursor: pointer;
}

.third_section button:hover {
    background-color: rgb(206, 206, 206);
    transition: 0.2s;
}

.third_section button:active {
    border: 1px solid #fff;
    transform: 0.2s;
}

.third_section button a {
    text-decoration: none;
    color: #000;
}

/* Fourth Section Styles */

.fourth_section {
    width: 100%;
    height: 1500px;
    display: flex;
    flex-wrap: wrap;
    letter-spacing: 1.5px;
    font-size: 20px;
}

.fourth_section_title {
    text-align: center;
    font-size: 40px;
    margin: 0 0 0 630px;
}

.fourth_section_info {
    font-size: 18px;
    margin: -450px 0 0 350px;
    height: 20px;
}

.third_section_info_wrapper {
    width: 675px;
    height: 700px;
    margin-top: -800px;
}

.fourth_section_first_info_img {
    margin: 00px 0 0 0;
}

.fourth_section_first_gallery {
    height: 500px;
    margin-top: 300px;
    background-repeat: no-repeat;
    background-image: url(/Img/Image\ \(7\).png);
}

.fourth_section_first_gallery h1 {
    margin: 10px 0 0 20px;
}

.fourth_section_second_gallery {
    background-image: url(/Img/Image\ \(8\).png);
    background-repeat: no-repeat;
    height: 500px;
    margin-top: 100px;
}

.fourth_section_third_gallery {
    background-image: url(/Img/Image\ \(9\).png);
    background-repeat: no-repeat;
    height: 500px;
    margin-top: 100px;
}

.fourth_section_btn_wrapper {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fourth_section_btn_wrapper button {
    width: 450px;
    height: 70px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
}

.fourth_section_btn_wrapper button:hover {
    background-color: rgb(206, 206, 206);
    transition: 0.2s;
}

.fourth_section_btn_wrapper button:active {
    border: 1px solid #fff;
    transform: 0.2s;
}

.fourth_section_btn_wrapper button a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

/* Fifth Section Styles */

.fifth_section {
    width: 100%;
    height: 1200px;
}

.fifth_section_title {
    text-align: center;
    font-size: 40px;
}

.fifth_section_info {
    text-align: center;
    font-size: 18px;
    margin-top: 30px;
}

.fifth_section_img_wrapper {
    width: 100%;
    height: 1000px;
    background-image: url(/Img/Image\ \(10\).png);
    margin-top: 100px;
    display: flex;
    background-repeat: no-repeat;
    align-items: flex-end;
}

.fifth_section_img {
    width: 500px;
    height: 300px;
    display: flex;
    align-items: flex-end;
}

.fifth_section_img h1 {
    margin: 0 0 0 250px;
    color: #fff;
    font-size: 50px;
    opacity: 0.6;
}

.first {
    background-image: url(/Img/image\ \(13\).png);
}

.second {
    background-image: url(/Img/image\ \(14\).png);
}

.third {
    background-image: url(/Img/image\ \(11\).png);
}

.fourth {
    background-image: url(/Img/image\ \(15\).png);
}

/* Last Section Styles */

.last_section {
    width: 100%;
    height: 500px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.last_section_title {
    text-align: center;
    font-size: 30px;
    letter-spacing: 1.3px;
}

.testimonials {
    width: 400px;
    height: 300px;
    background-color: aliceblue;
}

.testimonials_wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
}

.shape {
    width: 100px;
    height: 20px;
    margin: 20px 0 0 150px;
}

.testimonials_content {
    text-align: center;
    letter-spacing: 1.3px;
    line-height: 22px;
    margin-top: 20px;
}

.testimonials_logo {
    width: 50px;
    height: 50px;
    float: left;
}

.comm_info {
    height: 50px;
    width: 250px;
    margin: 50px 0 0 100px;
}

.comm_info p {
    margin: 0 0 0 70px;
    height: 20px;
}

.comm_info h6 {
    font-weight: 400;
    margin: 5px 0 0 70px;
}

/* Subscribe to Newsletter Styles */

.sub_content {
    max-width: 1000px;
    margin: 0 auto;
    height: 300px;
    margin-bottom: 100px;
}

.sub_content h1 {
    text-align: center;
    font-size: 40px;
    letter-spacing: 1.3px;
}

.sub_content p {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.3px;
}

.email_input {
    width: 400px;
    border: 1px solid rgb(148, 148, 148);
    border-radius: 10px;
    padding: 20px;
    height: 50px;
    margin: 100px 0 0 200px;
}

.email_input::-webkit-input-placeholder {
    font-size: 18px;
    color: #000;
    font-weight: 500;
}

.sub_content button {
    background-color: rgb(66, 69, 74);
    border-radius: 10px;
    color: #fff;
    border: 0;
    width: 150px;
    margin: 0 0 0 0;
    height: 50px;
}

.sub_content button:hover {
    opacity: 0.8;
    transition: 0.2s;
}

.sub_content button:active {
    border: 1px solid #fff;
    transition: 0.2s;
}

.sub_content button a {
    text-decoration: none;
    color: #fff;
}

/* Footer Styles */

footer {
    max-width: 1400px;
    height: 470px;
    display: flex; 
    background-color: rgb(66, 69, 74);
}

.footer_scooter {
    margin: -100px 0 0 0;
}

footer ul {
    color: #fff;
    margin: 100px 0 0 50px;
    list-style: none;
    font-size: 18px;
}

footer ul li {
    margin-top: 30px;
}

.ul_title {
    font-size: 30px;
    margin-bottom: 40px;
}

.footer_date {
    color: rgb(148, 148, 148);
    margin: 450px 0 0 -600px;
}